# Additional requirements go here
django==3.1.7
django-model-utils==4.1.1
# Additional requirements go here
django-crispy-forms==1.11.1
arrow==0.17.0
django-bootstrap-datepicker-plus==3.0.5
django-extensions==3.1.0
